In [1]:
from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord
import numpy as np
import pandas as pd
import glob
import os
import re
import random

In [2]:
#read in the human reference genome and parse it into a dictionary
record_dict = SeqIO.to_dict(SeqIO.parse('GRCh38_no_alt_analysis_set_GCA_000001405.15.fasta', 'fasta'))

In [3]:
record_dict['chr1']

SeqRecord(seq=Seq('NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...NNN', SingleLetterAlphabet()), id='chr1', name='chr1', description='chr1  AC:CM000663.2  gi:568336023  LN:248956422  rl:Chromosome  M5:6aef897c3d6ff0c78aff06ac189178dd  AS:GRCh38', dbxrefs=[])

In [4]:
read = pd.read_csv('cnv_results_read.csv', sep='\t', header = 0)

In [6]:
read1 = read['Length'].sample(n=1000).reset_index().drop('index', axis=1)

In [7]:
read1['Length']

0      478517
1        8676
2         927
3      116388
4      351020
        ...
995        12
996    226283
997      1699
998     87680
999    285698
Name: Length, Length: 1000, dtype: int64

In [8]:
read1.head(10)

   Length
0  478517
1    8676
2     927
3  116388
4  351020
5  124953
6   67083
7     309
8   64096
9    8017

In [9]:
Chromosome = ['chr1','chr2','chr3','chr4','chr5','chr6','chr7','chr8','chr9','chr10','chr11','chr12','chr13','chr14','chr15','chr16','chr17','chr18','chr19','chr20','chr21','chr22','chrX','chrY']

In [10]:
read1['Chromosome'] = np.random.choice(Chromosome, size=1000, replace=True)

In [11]:
read1.head(10)

   Length Chromosome
0  478517       chrY
1    8676       chr6
2     927       chr3
3  116388       chr9
4  351020      chr12
5  124953      chr16
6   67083       chr4
7     309       chr7
8   64096      chr12
9    8017      chr16

In [12]:
read1['Sequence'] = ''
read1['Start'] = ''
read1['End'] = ''

In [15]:
for index, row in read1.iterrows():
    coi = read1.iloc[index]['Chromosome']
    record = record_dict[coi]
    clength = len(record.seq)
    cmax = int(clength - read1.iloc[index]['Length'])
    start = np.random.randint(1, cmax)
    read1['Start'][index] = start
    end = int(start + read1.iloc[index]["Length"])
    read1['End'][index]= end
    chromosome_sequence = record_dict[coi].seq 
    read1['Sequence'][index] = str(chromosome_sequence[start:end])

/Users/piaskowskiml/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/piaskowskiml/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/piaskowskiml/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [16]:
read1.head()

,Length,Chromosome,Sequence,Start,End
0,478517,chrY,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,29109951,29588468
1,8676,chr6,AACCTTCCCCAACTGCCCTAGGCAGAATTTGTAGTTCCCTCCACTG...,134562547,134571223
2,927,chr3,CATAATTAAGAATAGGAAGCTTCTGCGTGGAATAATAGAATGTTAG...,110404958,110405885
3,116388,chr9,CAGTGAGCTGTGGTCAATTACACCACTGGACTCCAGCCTGGGCAAC...,76445919,76562307
4,351020,chr12,ATATCCAGCCAAACTAAGCACCATAAGGAACGGAGAAATAAAATCC...,84018066,84369086

In [17]:
read1['GDC_Aliquot'] = 'randomized control'
read1['Segment_Mean'] = 1
read1['index'] = ''

In [18]:
 col = ['index', 'GDC_Aliquot', 'Chromosome', 'Start', 'End', 'Segment_Mean', 'Length', 'Sequence']

In [19]:
read1 = read1[col]

In [20]:
#turn it into a csv file
read1.to_csv('cnv_read_rcontrol.csv', sep='\t', index=False)